argon2-cffi==20.1.0
asgiref==3.2.7
attrs==19.3.0
autobahn==20.6.2
Automat==20.2.0
AynRandom==0.2
boto==2.49.0
boto3==1.14.20
botocore==1.17.20
branca==0.4.0
certifi==2020.4.5.1
channels==2.4.0
chardet==3.0.4
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
constantly==15.1.0
curses-2048==1.4
cycler==0.10.0
daphne==2.5.0
dj-database-url==0.5.0
Django==3.0.5
django-annoying==0.10.6
django-appconf==1.0.4
django-crispy-forms==1.9.2
django-filter==2.3.0
django-imagekit==4.0.2
django-multiselectfield==0.1.12
django-storages==1.9.1
djangorestframework==3.11.0
docutils==0.15.2
et-xmlfile==1.0.1
Faker==4.0.3
Flask==1.1.2
folium==0.10.1
geographiclib==1.50
geopy==1.22.0
gunicorn==20.0.4
html5lib==1.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.1
jmespath==0.10.0
Js2Py==0.70
MarkupSafe==1.1.1
munch==2.5.0
openpyxl==3.0.4
pilkit==2.0
psycopg2
pyasn1
pyasn1-modules
pycparser
PyHamcrest
pyjsparser
pyOpenSSL
pyparsing
pyproj
python-dateutil
pyttsx
pyttsx3
pytz
requests
s3transfer
selenium
service-identity
Shapely
six
soupsieve
SpeechRecognition
sqlparse
text-unidecode
txaio
tzlocal
urllib3
webencodings
Werkzeug
whitenoise
xlrd
XlsxWriter
xlwt
